* {
  margin: 0;
  padding: 0; }

.tours h1, .musicPage h1, .gallery h1, .contact h1, .about h1, .privacyandpolicy h1, .termsandPolicy h1 {
  color: #9E1B2F;
  font-size: 40px;
  text-align: center;
  font-family: "CAMistery";
  margin-top: 20px; }

.gallery h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "PoppinsBold";
  margin-top: 20px; }

.musicPage h2, .musicPage__album01 h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "PoppinsRegular";
  margin-bottom: 1.5 rem; }

.musicPage h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "PoppinsLight";
  margin-top: 20px; }

@font-face {
  font-family: 'CAMistery';
  src: url("../fonts/CAMysteryGirl-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'PoppinsLight';
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'PoppinsRegular';
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'PoppinsBold';
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype"); }

.nav {
  grid-area: nav;
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: black; }
  .nav__checkbtn {
    font-size: 30px;
    color: #fff;
    padding: 40px;
    display: none; }
  .nav #check {
    display: none; }
  .nav__menu {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap; }
    .nav__menu li {
      list-style: none;
      padding: 5px 15px 15px 15px; }
      .nav__menu li a {
        color: white;
        text-transform: none;
        text-decoration: none;
        font-family: "CAMistery";
        font-size: 30px;
        background-color: transparent; }
      .nav__menu li a:hover {
        background-color: #8f1919; }
    .nav__menu--active {
      background-color: #8f1919; }
    .nav__menu li:hover {
      background-color: #8f1919; }

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: black; }
  .header div {
    width: 50%; }
  .header__divlogo {
    display: flex;
    justify-content: center; }
    .header__divlogo img {
      margin-right: 12px;
      margin-top: 8px; }
  .header__redesTop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 8px; }
    .header__redesTop li {
      margin: 5px;
      list-style: none; }
    .header__redesTop li:hover {
      transform: scale(1.2); }

.footer {
  grid-area: footer; }
  .footer__divfooter {
    display: flex;
    justify-content: space-evenly; }
    .footer__divfooter div {
      padding: 20px; }
      .footer__divfooter div a {
        color: white;
        font-family: "PoppinsRegular";
        border-bottom: 2px solid #972525;
        text-decoration: none;
        font-size: 15px; }
      .footer__divfooter div a:hover {
        font-size: 16px; }
  .footer__footerRedes {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly; }
    .footer__footerRedes li {
      list-style: none;
      padding: 0px 5px; }
      .footer__footerRedes li a {
        border-bottom: none; }
    .footer__footerRedes li:hover {
      transform: scale(1.2); }

.gridPadreIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "portada portada portada" "musica musica musica" "videos videos videos" "footer footer footer"; }

.titlePortada {
  display: none; }

.portada {
  grid-area: portada;
  text-align: center;
  overflow: hidden; }
  .portada__greenRed {
    width: 100vw;
    transition: transform 0.5s linear; }
  .portada__greenRed:hover {
    transform: scale(1.1); }

.musica {
  grid-area: musica;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: none;
  border-bottom: none;
  padding: 30px 0px; }
  .musica__greenMusica {
    width: 45vw;
    max-width: 480px; }
  .musica__musicaListen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 50%; }
    .musica__musicaListen p {
      text-align: center;
      color: white;
      font-family: "CAMistery";
      font-size: 50px; }
  .musica__musicaBoton {
    background-color: #8f1919;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "PoppinsRegular";
    margin: 4px 2px;
    cursor: pointer;
    width: 150px; }
  .musica__musicaBoton:hover {
    background-color: #cc2c2c; }

.videos {
  grid-area: videos;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 15px;
  border-top: none;
  border-bottom: none;
  padding: 30px 0px;
  color: white;
  font-family: "CAMistery";
  font-size: 50px; }
  .videos__videomp4 {
    align-items: center;
    margin-top: 50px;
    width: 90vw;
    max-width: 860px; }

.gridPadreTours {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "tours tours tours" "imageTours imageTours imageTours" "footer footer footer"; }

.tours {
  grid-area: tours;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 20px 20px; }
  .tours h1 {
    margin-bottom: 20px; }
  .tours #customers {
    font-family: "PoppinsRegular";
    border-collapse: collapse;
    border-color: white;
    width: 70%;
    color: white;
    background-color: black; }
    .tours #customers td, .tours #customers th {
      border: 1px solid #ddd;
      padding: 18px; }
    .tours #customers tr:nth-child(even) {
      background-color: black; }
    .tours #customers tr:hover {
      background-color: #9E1B2F; }
    .tours #customers th {
      padding-top: 35px;
      padding-bottom: 35px;
      border-color: white;
      text-align: left;
      background-color: #9E1B2F;
      color: white; }

.imageTours {
  grid-area: imageTours;
  margin-top: 30px;
  text-align: center; }

.gridPadreMusic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "musicPage musicPage musicPage" "musicPage musicPage musicPage" "footer footer footer"; }

.musicPage {
  grid-area: musicPage; }
  .musicPage__album01 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px; }
    .musicPage__album01 div {
      margin-bottom: 1rem; }
  .musicPage__americanIdiot img {
    margin: 5px;
    border-radius: 12px;
    filter: drop-shadow(0 0 5px rgba(158, 27, 47, 0.7));
    max-width: 480px; }
  .musicPage__warning img {
    margin: 5px;
    border-radius: 12px;
    filter: drop-shadow(0 0 5px rgba(145, 245, 125, 0.7));
    max-width: 480px; }
  .musicPage__21st img {
    margin: 5px;
    border-radius: 12px;
    filter: drop-shadow(0 0 5px rgba(243, 240, 45, 0.7));
    max-width: 480px; }
  .musicPage__awesomeasfuck img {
    margin: 5px;
    border-radius: 12px;
    filter: drop-shadow(0 0 5px rgba(245, 143, 206, 0.7));
    max-width: 480px; }

* {
  box-sizing: border-box; }

.gridPadreGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "gallery gallery gallery" "gallery gallery gallery" "gallery gallery gallery" "footer footer footer"; }

.gallery {
  grid-area: gallery; }
  .gallery p {
    color: white;
    font-size: 16 px;
    text-align: center;
    font-family: "PoppinsBold";
    width: 65%;
    margin: 0 auto; }

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 65%;
  margin: 20px auto 20px; }

/* Hide the images by default */
.mySlides, .mySlides2 {
  display: none; }

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none; }

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%; }

/* Add a transparency effect for thumnbail images */
.demo, .demo2 {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

.gridPadreContact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "imageContact imageContact imageContact" "contact contact contact" "footer footer footer"; }

.contact {
  grid-area: contact;
  margin: 0 auto;
  padding-top: 20px; }
  .contact h1 {
    margin-bottom: 20px; }
  .contact__form {
    width: 300px;
    font-family: "PoppinsBold";
    font-size: 12px;
    color: white;
    text-align: center; }
    .contact__form input,
    .contact__form select,
    .contact__form textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0 20px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: "PoppinsLight"; }
    .contact__form input[type=submit] {
      width: 100%;
      background-color: #972525;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: "PoppinsRegular"; }
    .contact__form input[type=submit]:hover {
      background-color: #9E1B2F;
      font-family: "PoppinsBold"; }

.gridPadreAbout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "about about about" "billie mike tre" "footer footer footer"; }

.about {
  grid-area: about; }
  .about div {
    width: 70%;
    margin: 0 auto; }
  .about p {
    color: white;
    font-size: 16 px;
    text-align: center;
    font-family: "PoppinsBold";
    margin-top: 20px; }

.aboutMembers {
  font-family: "PoppinsRegular";
  text-align: center;
  margin-top: 50px;
  padding: 25px; }

.aboutMembers h2,
h3 {
  color: white; }

.aboutMembers p {
  color: #d1cccc;
  font-size: 14px;
  margin-top: 10px; }

.billie {
  grid-area: billie; }

.tre {
  grid-area: tre; }

.mike {
  grid-area: mike; }

.gridPrivacyPadre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "privacyandpolicy privacyandpolicy privacyandpolicy" "footer footer footer"; }

.privacyandpolicy {
  grid-area: privacyandpolicy;
  font-size: 20px;
  font-family: "PoppinsRegular";
  color: white;
  text-align: center;
  padding: 30px 350px; }
  .privacyandpolicy h2, .privacyandpolicy h3 {
    color: #9E1B2F; }

.gridPadreTerms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav header header" "termsandPolicy termsandPolicy termsandPolicy" "footer footer footer"; }

.termsandPolicy {
  grid-area: termsandPolicy;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 350px; }
  .termsandPolicy p {
    font-family: "PoppinsRegular";
    font-size: 20px;
    color: white;
    align-content: center; }
  .termsandPolicy img {
    width: 700px;
    margin-bottom: 50px;
    margin-top: 50px; }

@media only screen and (max-width: 1080px) {
  .nav__checkbtn {
    display: block; }
  .nav__menu {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.82);
    transform: translate(-100%);
    text-align: center;
    transition: all .5s; }
  .nav__menu a {
    font-size: 36px; }
  .nav__menu li {
    padding: 10px 10px 15px 10px; }
  .nav__menu a:after {
    background: #8f1919; }
  #check:checked ~ .nav__menu {
    transform: translate(0); }
  .header {
    flex-direction: row-reverse; }
  .header__redesTop {
    display: none; }
  .musica {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-top: none;
    border-bottom: none;
    padding: 20px 0px; }
  .greenMusica {
    width: 65vw;
    max-width: 480px; }
  .musica__musicaListen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 155px;
    width: 50%; }
  .musica__musicaListen p {
    text-align: center;
    color: white;
    font-family: "CAMistery";
    font-size: 25px; }
  .musica__musicaBoton {
    background-color: #8f1919;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-family: "PoppinsRegular";
    margin: 4px 2px;
    cursor: pointer;
    width: 75px; }
  .videos {
    font-size: 25px; }
  .videos__videomp4 {
    margin-top: 20px;
    width: 75vw; }
  .footer__divfooter {
    flex-direction: column;
    align-items: center; }
  .footer__divfooter div {
    padding: 10px; }
  .footer__divfooter div a:not(ul li a) {
    font-size: 12px; }
  .imageTours img {
    width: 300px; }
  .tours {
    padding: 0px; }
  .tours p {
    font-family: "PoppinsRegular";
    font-size: 30px;
    color: white;
    margin-bottom: 30px; }
  #customers {
    font-family: "PoppinsRegular";
    border-collapse: collapse;
    border-color: white;
    width: 100%;
    color: white;
    background-color: black; }
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px; }
  .gridPadreAbout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "nav header header" "about about about" "billie billie billie" "mike mike mike" "tre tre tre" "footer footer footer"; }
  .aboutMembers {
    font-family: "PoppinsRegular";
    text-align: center;
    margin-top: 10px;
    padding: 25px; }
  .termsandPolicy {
    padding: 30px 35px; }
  .termsandPolicy p,
  .privacyandpolicy p {
    font-family: "PoppinsRegular";
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 15px; }
  .termsandPolicy img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px; }
  .privacyandpolicy {
    grid-area: privacyandpolicy;
    font-size: 12px;
    font-family: "PoppinsRegular";
    color: white;
    text-align: center;
    padding: 30px 35px; }
  .privacyandpolicy img {
    width: 100%; }
  .privacyandpolicy h2 {
    font-size: 20px; }
  .privacyandpolicy h3 {
    font-size: 18px; }
  .musicPage__album01 {
    flex-direction: column;
    width: 70%; }
    .musicPage__album01 iframe {
      width: 100%; }
    .musicPage__album01 img {
      width: 100%; } }

body {
  background-color: black; }

/* Animaciones */
.zoom-in-out-box {
  animation: zoom-in-zoom-out 1s ease; }

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.5, 1.5); }
  100% {
    transform: scale(1, 1); } }

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease; }

.reveal.active {
  transform: translateY(0);
  opacity: 1; }

.active.fade-bottom {
  animation: fade-bottom 1s ease-in; }

.active.fade-left {
  animation: fade-left 1s ease-in; }

.active.fade-right {
  animation: fade-right 1s ease-in; }

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.fir {
  animation: fadeInRight 1s ease-in-out; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-300px); }
  to {
    opacity: 1; } }

.fib {
  animation: fadeInBottom 1s ease-in-out; }

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(-300px); }
  to {
    opacity: 1; } }

.fil {
  animation: fadeInLeft 1s ease-in-out; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(300px); }
  to {
    opacity: 1; } }

.fit {
  animation: fadeInTop 1s ease-in-out; }

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(300px); }
  to {
    opacity: 1; } }

.appear {
  animation: appear 3s ease-in-out; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
