@font-face {
    font-family: 'CAMistery';
    src: url("../fonts/CAMysteryGirl-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url("../fonts/Poppins/Poppins-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format('truetype');
}