.gridPadreMusic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav header header"
        "musicPage musicPage musicPage"
        "musicPage musicPage musicPage"
        "footer footer footer";
}

.musicPage {
    grid-area: musicPage;

    h1 {
        @extend %titulo;
    }

    &__album01 {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        h2 {
            @extend %album;
        }
        div{
            margin-bottom: 1rem;
        }
    }
    &__americanIdiot{
        img{
            margin: 5px;
            border-radius: 12px;
            // box-shadow: 0 0 6px rgba(158, 27, 47, 0.425), 0 0 10px rgba(158, 27, 47, 0.151);
            filter: drop-shadow(0 0 5px rgba(158, 27, 47, 0.7));
        }
    }
}