.gridPadreTours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav header header"
        "tours tours tours"
        "imageTours imageTours imageTours"
        "footer footer footer";
}

.tours{
    grid-area: tours;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    h1{
        @extend %titulo;
        margin-bottom: 20px;
    }
    #customers {
        font-family: "PoppinsRegular";
        border-collapse: collapse;
        border-color: white;
        width: 70%;
        color: white;
        background-color: black;
        td,th{
            border: 1px solid #ddd;
            padding: 18px;
        }
        tr:nth-child(even) {
            background-color: black;
        }
        tr:hover {
            background-color: #9E1B2F;
        }
        th {
            padding-top: 35px;
            padding-bottom: 35px;
            border-color: white;
            text-align: left;
            background-color: #9E1B2F;
            color: white;
        }
    }
}

.imageTours {
    grid-area: imageTours;
    margin-top: 30px;
    text-align: center;
}