.nav {
    grid-area: nav;
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: black;

    &__checkbtn {
        font-size: 30px;
        color: #fff;
        padding: 40px;
        display: none;
    }

    #check {
        display: none;
    }

    &__menu {
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;

        li {
            list-style: none;
            padding: 5px 15px 15px 15px;

            a {
                color: white;
                text-transform: none;
                text-decoration: none;
                font-family: "CAMistery";
                font-size: 30px;
                background-color: transparent;

            }

            a:hover {
                background-color: rgb(143, 25, 25);
            }

        }

        &--active {
            background-color: rgb(143, 25, 25);
        }

        li:hover {
            background-color: rgb(143, 25, 25);
        }

    }
}